.arrow-box
{ 
  position: relative; /* Added to establish a containing block for absolute positioning */
  
  
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.0);


  z-index: -1;
  bottom: 5vh;
}

.video-container
{   
  width: 100%;  
  height: 100vh;
  top: 5%;
  
  display:flex;
  position:fixed;

  overflow: hidden; 
}

#cover
{
  opacity: 0;
  transition: opacity 1s ease-in;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);


  position: absolute;
  top: 50%;
  left: 50%;
  right:50%;
  transform: translate(-50%, -50%);
  max-width: none;
  max-height: none;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

#cover.loaded 
{
  opacity: 1;
}

#arrow-quiver
{
  position:absolute;
  bottom: 10%;
  left: 50%;
  background-color: white;
  border: solid white;

  border-radius: 50%;
  transform: translateX(-50%); /* Adjust to precisely center the arrow-down element */
  width: 30px; /* Set the width of the arrow-down element */
  height: 30px; /* Set the height of the arrow-down element */
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  opacity: 0;
  transition: opacity 1s ease-in;
  cursor: pointer;
}

#arrow-quiver.show
{
  opacity: 1;
  cursor: pointer;
}

