/*PROJECTS LIST*/
#project-list
{
  margin-top: 5%;
}
.project-list-box
{
  display: block;
    
}

.project-list-item
{
  margin: 1%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.project-list-image
{
  margin: 1%;
  height: auto;
  max-width: 50%;  
}

.project-list-text
{
  align-self: flex-start;
  margin-left: 1%;
}