/*PROJECTS GALLERY*/
#project-gallery
{
  margin-top: 5%;
}

.project-gallery-box
{  
  display: flex; 
  flex-wrap: wrap;
}

.project-box-image
{
  margin: 1%;
  max-width: 30%;
  height: auto;
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  flex: 1;
}