.arrow-box
{ 
  position: relative; /* Added to establish a containing block for absolute positioning */
  left: 0vh;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.0);


  display: flex; /* Added to enable flexbox */
  z-index: -1;
  bottom: 5vh;

  
}

#arrow-quiver
{
  position:absolute;
  bottom: 10%;
  left: 50%;
  background-color: white;
  border: solid white;

  border-radius: 50%;
  transform: translateX(-50%); /* Adjust to precisely center the arrow-down element */
  width: 30px; /* Set the width of the arrow-down element */
  height: 30px; /* Set the height of the arrow-down element */
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  opacity: 0;
  transition: opacity 1s ease-in;
  cursor: pointer;
}

#arrow-quiver.show
{
  opacity: 1;
  cursor: pointer;
}

.video-container
{
  height: 60vh;
  width: 100%;
      
  display: flex;
  justify-content: center;
  align-self:center;   
}

#cover
{
  opacity: 0;
  transition: opacity 1s ease-in;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);


}

#cover.loaded 
{
  opacity: 1;
}
