/* ABOUT */
#about
{
  margin-top: 5%;
}

.about-box
{      
  display: flex;
}

.about-item
{
  margin: 1%;
  padding: 1%;
  flex: 1;
  display: flex; /* Use flexbox to center the content */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  
}

#about-text
{
  flex: 2;
}

.about-image
{
  margin: 1%;
  width: 100%;
  height: auto;
}
