/* multi instance classes*/
.content-split
{  
  max-width: 65%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


body
{
  margin: 0%;
  background-color: antiquewhite;
}
/*
nav
{
  margin: 5%;
}

footer
{
  margin: 5%;
}
*/

.box
{  
  margin: 0%;
  max-width: 100%;
  max-height: auto;
  z-index: 0;
  align-self: center;
  background-color: white;
  padding: 2%;
  border-radius: 10px;  
  
}

.headline
{
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  border-radius: 10px;
  max-width: 75%; 
}

h1
{  
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.5rem;  
  text-transform: uppercase;
  text-align: center;
}

h2
{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

h3
{
  font-family: 'Ubuntu Mono', monospace;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: center;
}

p
{
  margin: 2%;
  font-family: 'Inconsolata', monospace;
  text-align: justify;
}

#non-just
{
  text-align: left;
}